.change_dates_active{
    background: #fff;
    &:hover {
        background-color: #fff;
    }
}

.Page_Dates_scrol_Calender {
    scroll-snap-type: x mandatory;
    .month_section {
        scroll-snap-align: end;
        width: 100vw;
    }
}

